header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imagems/fundo1.jpg);
}

header img {
  width: 8rem;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: 1rem;
}

li a {
  text-decoration: none;
  color: white; /* cor padrão, por exemplo */
  transition: color 0.3s ease; /* suaviza a mudança de cor */
}

li a:hover {
  color: red;
}

a {
  color: white;
}



@media (max-width: 600px) {
header {
  display: flex; /* garante o uso de flex-direction */
  flex-direction: column;
  padding: 1rem 0;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('../imagems/fundo-academia.jpg');
  background-size: cover;        /* cobre todo o header */
  background-position: center;   /* centraliza a imagem */
  background-repeat: no-repeat;  /* evita repetição da imagem */
  color: white;                  /* deixa o texto visível se fundo for escuro */
}


  header img {
    width: 6rem; 
    margin-bottom: 1rem;
  }

  header ul {
    
    gap: 1rem;
    margin: 0; 
    padding: 0;
  }

  li a {
    font-size: 0.8rem; 
  }
}






