@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url(../Componentes/imagems/fundo-academia.jpg);
  background-size: cover;        /* Faz a imagem cobrir toda a tela */
  background-position: center;   /* Centraliza a imagem */
  background-repeat: no-repeat;  /* Impede que ela se repita */
  background-attachment: fixed;  /* (opcional) Faz a imagem ficar fixa ao rolar */
   margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}


@media (max-width: 600px) {
  body,
  html {
    background-color: black;
    background-image: url('../Componentes/imagems/fundo2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

 .info {
   background-image: 
                    url(../Componentes/imagems/fundo2.png);
  background-size: cover;        /* Faz a imagem cobrir toda a tela */
  background-position: center;   /* Centraliza a imagem */
  background-repeat: no-repeat;  /* Impede que ela se repita */
  background-attachment: fixed;  /* (opcional) Faz a imagem ficar fixa ao rolar */
 }
}













